@use './variables' as vars;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
@mixin xs {
  @media (max-width: vars.$breakpoint-xs) {
    @content;
  }
}

@mixin sm {
  @media (max-width: vars.$breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: vars.$breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: vars.$breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media (max-width: vars.$breakpoint-xl) {
    @content;
  }
}
  