@use './variables' as vars;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin mobile {
    @media (max-width: vars.$breakpoint-mobile) {
      @content;
    }
  }
  