@import "./mixins";
@import "./variables";

@import "@fontsource/work-sans";
@import "@fontsource/work-sans/300.css"; 
@import "@fontsource/work-sans/500.css";
@import "@fontsource/work-sans/700.css"; 
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  background-color: $color-background;
  color: $color-text;
  @include flex-center;
  min-height: 100vh;
  width: 100vw;
}


ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
