$color-primary: #213f7d;
$color-secondary: #39cdcc;
$color-text: #545f7d;
$color-background: #ffffff;

$font-primary: 'Work Sans', sans-serif;
$font-secondary: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$breakpoint-xs: 375px;   // Small phones
$breakpoint-sm: 425px;   // Large phones
$breakpoint-md: 768px;   // Tablets
$breakpoint-lg: 1024px;  // Desktop
$breakpoint-xl: 1440px;  // Large desktop