@import '../../styles/variables';

.layout {
    height: 100vh;
    width: 100vw;
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: clamp(60px, 7vw, 100px);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0 clamp(1rem, 2.08vw, 30px);
    box-shadow: 3px 0 20px 0 #0000000A;
}

.header-left {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 11.67vw, 168px);
    flex: 1;
}

.header-left img {
    height: 30px;
}

.search {
    position: relative;
    height: 40px;
    width: clamp(200px, 27.78vw, 400px);
}

.search-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 64, 125, 0.201);
    border-radius: 8px;
    padding: 0 0 0 20px;
}

.search-input:focus {
    border-color: $font-secondary;
    outline: none;
}

.search-input::placeholder {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    color: $color-text;
    opacity: 50%;
}

.search-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 40px;
    background-color: $color-secondary;
    top: 0;
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.search-icon img {
    width: 14px;
    height: 14px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-right .docs {
    color: $font-primary;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-thickness: 0;
    margin-right: 17px;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username {
    font-size: 16px;
    font-weight: 500;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding-top: 39px;
    width: 283px;
    overflow-y: auto; // ✅ sidebar scroll
    overflow-x: hidden;
}

aside::-webkit-scrollbar,
main::-webkit-scrollbar {
  width: 6px;
}

aside::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

aside .nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
    height: 40px;
}

aside h4 {
    font-size: 16px;
    font-weight: 400;
}

.so-container {
    margin-bottom: 11px;
}

aside .nav-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside .nav-title {
    padding-left: 30px;
}

.nav-footer {
    margin-top: 60px;
    padding: 20px 0 19px 29px;
    border-top: 1px solid #213F7D1a;
}

.logout {
    display: flex;
    align-items: center;
    gap: 10px;
}

main {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
}
