@import '../styles/variables';

.dashboard-page {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1 {
    font-weight: 500;
    font-size: 24px;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stat-card {
    width: clamp(150px, 16.67vw, 240px);
    height: clamp(100px, 11.11vw, 160px);
    border: 1px solid #213F7D0F;
    box-shadow: 3px 5px 20px #0000000A;
    padding: 20px 0 0 30px;
}

.stat-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #DF18FF1a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.stat-icon.active-users {
    background-color: #5718FF1a;
}

.stat-icon.loans {
    background-color: #F55F441a;
}

.stat-icon.savings {
    background-color: #FF33661a;
}

.stat-card p {
    font-size: 14px;
    font-weight: 500;
    color: $color-text;
    margin-bottom: 10px;
}

.stat-card h2 {
    font-size: 24px;
    font-weight: 600;
}