@import '../styles/variables';
@import '../styles/mixins';


.login-page {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  max-width: 1440px;
  flex-direction: row;

  @include md {
    flex-direction: column;
  }
}

.login-container, .login-image {
    @include flex-center;
    flex-direction: column;
}

.login-image {
    flex-basis: 51%;
    position: relative;
}

.login-image .login-logo {
    position: absolute;
    top: 4.4vw;
    left: 4.2vw;
}

.login-image .login-img {
    width: 85%;
    @include md {
        display: none;
    }
}

.login-container {
    position: relative;
    font-family: $font-secondary;
    flex-basis: 49%;
    background-color: #FFFFFF;
    box-shadow: 0 15px 90px 0 #00000008;

    @include md {
        min-height: 100vh;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-form h4 {
    color: $color-primary;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1.6px;
}

.login-form p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    color: $color-text;

}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-container input, .login-btn, .password-wrapper {
    font-family: $font-secondary;
    height: 50px;
    width: clamp(350px, 32vw, 447px);
    @include sm {
        width: 80vw
    }
}

.password-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 19px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: $color-secondary;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    
    &:hover {
        opacity: 0.8;
    }
}

.input-container input {
    border: 2px solid #545F7D26;
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 16px;
}

.input-container input:focus {
    border-color: $color-secondary;
    outline: none;
}

.input-container input::placeholder {
    color: $color-text;
    opacity: 60%;
    font-size: 14px;
    font-weight: 400;
}

.input-container a {
    color: $color-secondary;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.login-btn {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    background-color: $color-secondary;
    border-radius: 8px;
}