@import '../styles/variables';

.layout {
    min-height: 100vh;
    width: 100vw;
    font-family: $font-primary;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: clamp(60px, 7vw, 100px);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0 clamp(1rem, 2.08vw, 30px);
}

.header-left {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 11.67vw, 168px);
    flex: 1;
}

.header-left img {
    height: 30px;
}

.search {
    position: relative;
    height: 40px;
    width: clamp(200px, 27.78vw, 400px);
}

.search-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 64, 125, 0.201);
    border-radius: 8px;
    padding: 0 0 0 20px;
}

.search-input:focus {
    border-color: $font-secondary;
    outline: none;
}

.search-input::placeholder {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    color: $color-text;
    opacity: 50%;
}

.search-icon {
    position: absolute;
    width: 56px;
    height: 40px;
    background-color: $color-secondary;
    top: 0;
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}